*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 12px;
    background-color: rgb(167, 163, 159);
}

.search-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 12px;
    padding: 12px;
}

button {
    font-size: 1rem;
    padding: 8px 16px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
}

input {
    border: none;
    padding: 8px 16px;
}

img {
    width: 28%;
    height: auto;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}